//
// Buttons
//
// Markup: buttons.html
//
// .button-blue   - Blue button
// .button-green  - Green button
// .button-border-blue - Border blue button
// .button-border-white - Border white button
// .button-white - White button
// 
// styleguide Components.buttons

.button {
  background-color: $c-lightgray;
  color: #000;
  display: inline-block;
  font-family: $headings-font;
  font-size: 1.4rem;
  padding: 10px 14px;
  text-decoration: none;
}
.button-white {
  background-color: #fff;
  border-radius: 4px;
  color: $c-green;

  &:after {
    content: '\00003e';
    margin-left: 20px;
  }

}
.button-blue {
  background-color: $c-blue;
  border: solid 2px $c-blue;
  border-radius: 4px;
  color: #fff;

  &:hover {
    background-color: $c-orange;
    border: solid 2px $c-orange;
    border-radius: 4px;
    color: #fff;
  }
  &:after {
    content: '\00003e';
    margin-left: 20px;
  }

}

.button-green {
  background-color: $c-green;
  border: solid 2px $c-green;
  border-radius: 4px;
  color: #fff;

  &:hover {
    background-color: $c-orange;
    border: solid 2px $c-orange;
    border-radius: 4px;
    color: #fff;
  }
  &:after {
    content: '\00003e';
    margin-left: 20px;
  }
}

.button-border-blue {
  background: transparent;
  border: solid 2px $c-blue;
  color: $c-blue;
  padding: 8px 10px;

  &:hover {
    background-color: $c-orange;
    border: solid 2px $c-orange;
    color: #fff;
  }
  &:after {
    content: '\00003e';
    margin-left: 20px;
  }
}

.button-border-white {
  background: transparent;
  border: solid 2px #fff;
  color: #fff;
  padding: 8px 10px;

  &:hover {
    background-color: #fff;
    border: solid 2px #fff;
    color: $c-blue;
  }
  &:after {
    content: '\00003e';
    margin-left: 20px;
  }
}

