<div class="section-pattern section-pattern-lightblue section-how-is-BAE">
    <div class="howIsBAE">
        <h1>¿Qué es Bandera Azul Ecológica?</h1>
        <p>La Bandera Azul Ecológica es un galardón o distintivo que se otorga anualmente, el cual premia el esfuerzo y el trabajo voluntario en la búsqueda de la conservación y el desarrollo, en concordancia con la protección de los recursos naturales, la implementación de acciones para enfrentar el cambio climático, la búsqueda de mejores condiciones higiénico sanitarias y la mejoría de la salud pública de los habitantes de Costa Rica.</p>
    </div>
    <div>
       <img src="https://i.blogs.es/4e5c3d/bandera_azul_calvia/450_1000.jpg" alt=""> 
    </div>
</div>