<div class="container" style="background-color: #f2f2f2;">
	<div class="cards-information">
		<img src="../img/pattern-bottom-white.svg" alt="Imagen Descriptiva" style="background-color: black; width: 100%">
		<h3>¿Cómo obtuvo su galardón adobe rent a car?</h3>
		<p>Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci.</p>
		<a href="#" class="button button-border-blue">This is a button</a>
	</div>
</div>