//
// Tabs
//
// Markup: tabs.html
// 
// .tabs - Tabs
// 
// styleguide Components.tabs

.tabs {
    margin-top: 40px;
    
    ul:first-of-type {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            flex: 1;
            cursor: pointer;
            display: block;
            float: left;
            height: 50px;
            background: $c-lightgray;
            color: #768291;
            font-family: $headings-font;
            font-weight: 700;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 4px solid #FAC917;
    
            &.active {
                background: $c-lightblue;
                color: #2F80ED;
                border-bottom: 4px solid $c-lightblue;
            }
            &.icon{
                background: url(../../../img/star.svg);
            }

        }
    }
    p{
        font: 700 18px $body-font;
        color: #768291;
        width: 50%;
        float: right;
        position: relative;
        top: 93px;
        right: 62px;
    }
    h2 {
        font-size: 2.8rem;
        color:#0984e3;
        padding: 0 0 40px 0;
        text-align: center;
    }
}

.tabs-content {
    background:$c-lightblue;

}

article {
    padding: 30px;
}