//
// Section Patterns
//
// Markup: section-pattern.html
// 
// .section-pattern-lightblue - Section Lightblue
// .section-pattern-blue - Section Blue
// .section-pattern-lightgray - Section Lightgray
// .section-pattern-gray - Section Gray
// .section-pattern-lightblue-left - Section Lightblue left
// .section-pattern-green - Section Green
// .section-pattern-lightgray-vertical - Section Lightgray Vertical
// .section-pattern-lightblue-squard - Section Lightblue Squard
// .section-pattern-lightgray-squard - Section Lightgray Squard
// .section-pattern-lightgray-right - Section Lightgray Right
// .section-pattern-lightblue-top - Section Lightblue Top
// 
// styleguide Components.section-pattern
// 

.section-pattern {
    border-left: 30px solid $c-yellow;
    width: 100%;
    // height: 500px;
}

.section-pattern-lightblue {
    background: url(../img/pattern-white.svg) no-repeat right $c-lightblue;
}

.section-pattern-blue {
    background: url(../img/pattern-top-white.svg) no-repeat right, url(../img/pattern-bottom-white.svg) no-repeat left bottom $c-blue;
}

.section-pattern-lightgray {
    background: url(../img/pattern-white.svg) no-repeat right $c-lightgray;
}

.section-pattern-gray {
    background: url(../img/pattern-top-white.svg) no-repeat right, url(../img/pattern-bottom-white.svg) no-repeat left bottom $c-gray;
    border-left: 0;
    border-right: 30px solid $c-yellow;
}
.section-pattern-lightblue-left{
    background: url(../img/pattern-lightblue.svg)no-repeat left;
    border-left: 0;
}
.section-pattern-green {
    background: url(../img/pattern-top-white.svg) no-repeat right, url(../img/pattern-bottom-white.svg) no-repeat left bottom $c-green;
    border-left: 0;
}
.section-pattern-lightgray-vertical {
    background: url(../img/pattern-vertical-left.svg) no-repeat right, url(../img/pattern-vertical-right.svg) no-repeat left $c-gray;
    border-left: 0;
    border-right: 30px solid $c-yellow;
    border-left: 30px solid $c-yellow;
}
.section-pattern-lightblue-squard {
    background: url(../img/pattern-white-left.svg) no-repeat left top $c-lightblue;
    border-left: 0; 
}
.section-pattern-lightgray-squard {
    background: url(../img/pattern-white-left.svg) no-repeat left top $c-gray ;
    border-left: 0;
}
.section-pattern-lightgray-right{
    background: url(../img/pattern-lightgray-right.svg)no-repeat right;
    border-left: 0;
}
.section-pattern-lightblue-top {
    background: url(../img/pattern-top-lightblue.svg) no-repeat right top , url(../img/pattern-bottom-white.svg) no-repeat left bottom $c-lightblue;
    border-left: 0;
    border-left: 30px solid $c-yellow;
}