<div class="section-pattern section-pattern-green section-go-category">
    {{ page.content}}
    
    <h3>{{ page.header.title }}</h3>
     <a class="button button-white" href="{{base_url}}{{header.goCategory}}">Descubra su Categoría</a>      
</div>
