<div class="section-pattern section-pattern-lightblue-left goal">
    <div class="goal-info">
        <h2>¿Qué pretende bandera azul?</h2>
        <p>Establecer un incentivo para promover la organización
de comités locales y la integralidad de los mismos,
con el propósitode buscar la conservación y desarrollo,en concordancia con la protección de los recursos 
naturales, la implementación de acciones
para enfrentar
el cambio climático, la búsqueda de mejores condiciones
higiénico-sanitariasy la mejoríade la salud pública de los
habitantes de Costa Rica.</p>
    </div>
    <div>
        <img src="https://i.blogs.es/4e5c3d/bandera_azul_calvia/450_1000.jpg" alt="image">
    </div>
</div>